HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Custom
src/main/java/com/patika/rsakin/patikarentacarservice/controller
src/main/java/com/patika/rsakin/patikarentacarservice/service
src/main/java/com/patika/rsakin/patikarentacarservice/model/dto
src/main/java/com/patika/rsakin/patikarentacarservice/model/mapper